{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}  

{% block content %}
<link href="{% static 'css/category_form.css' %}" rel="stylesheet">

<div class="container">
    <h2>{% if object %}Edit Category{% else %}Create Category{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }} 
        <div class="form-actions">
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <a href="{% url 'todo:category_list' %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
