{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style>
  .container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  .container h2 {
    color: #76c7c0;
  } 

  .table {
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .table th, .table td {
    border: none;
    color: #fff;
  }

  .table thead th {
    background-color: #3c6e71; 
  }

  .form-control, .form-select {
    border-radius: 4px;
    background-color: #34495e;
    color: #fff;
    border: 1px solid #2c3e50;
  }

  .form-control:focus {
    border-color: #95a5a6;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5); 
  }

  .search-group {
    display: flex;
    align-items: center;
  }

  .table th:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4 p-3"><i class="fas fa-arrow-right"></i> Category List</h2>
    <form method="get" class="mb-3 search-group">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-outline-primary ml-2 mt-3">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>
                  Actions
                  <a href="{% url 'todo:category_create' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add Category</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'todo:category_edit' category.id %}" class="btn btn-outline-primary">Edit</a>
                    <a href="{% url 'todo:category_delete' category.id %}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No categories found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
