{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}  

{% block content %}
<link href="{% static 'css/category_confirm_delete.css' %}" rel="stylesheet">

<div class="container">
    <h2>Delete Category</h2>
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-outline-danger">
        <a href="{% url 'todo:category_list' %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
