{% extends "base.html" %}
{% load static %}  

{% block content %}
<link href="{% static 'css/comment_confirm_delete.css' %}" rel="stylesheet">

<div class="container mt-5">
  <div class="form-container">
    <h2>Delete Comment</h2>
    <p>Are you sure you want to delete this comment?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger">Confirm</button>
      <a href="{% url 'todo:task_details' pk=object.task.pk %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}