{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}  


{% block content %}
<link href="{% static 'css/task_form.css' %}" rel="stylesheet">

<div class="container mt-5">
  <div class="form-container">
    <h2 class="mb-4 text-center">{% if request.resolver_match.url_name == 'task_create' %}Create{% else %}Edit{% endif %} Task</h2>
    <div class="card">
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-outline-primary">{% if request.resolver_match.url_name == 'task_create' %}Create{% else %}Save Changes{% endif %}</button>
          <a href="{% url 'todo:task_list' %}" class="btn btn-outline-danger">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
