<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <title>{% block title %}App{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body style="background-color: #10141E;">
    {% block content %}
    {% endblock content %}
</body>
</html>